body{
  background: url(../images/bg1.jpeg) no-repeat center center fixed;
  font-family: cursive;
  background-size: cover;
  font-size: 1em;
  color: #fff;
  text-align: center;
}
small{
  font-size: 0.5em;
  padding: : 1%;
  color: red;
}
#header{
  margin-top: 2%; 
  color: blue;
  align-items: center;
}
#detail{
  font-size: 1.2em;
  padding: : 2%;
  color: lightgreen;
}
